html,
body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.playerSelection {
  width: 200px;
  height: auto;
  padding: 2px;
  box-shadow: 8px 8px;
  color: #1df205;
  border-radius: 10%;
  padding: 10px;
}

button {
  background-color: #101822;
}

img {
  border-radius: 10%;
}

.playerSelection-text {
  font-weight: bold;
  font-size: 24px;
}

.playerSelectionContainer {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  margin: 50px;
}

h1 {
  text-align: center;
  margin-top: 25px;
}

#resultMessage {
  text-align: center;
  font-size: 24px;
}

body {
  background-color: #1b2838;
  color: #f6f6f7;
  display: flex;
  flex-direction: column;
  margin: 0;
}

footer {
  text-align: center;
  margin-top: auto;
  font-size: 24px;
  padding: 24px;
  background-color: #101822;
}
