.playerSelection {
  width: 200px;
  height: auto;
  padding: 2px;
  box-shadow: 10px 10px;
  border-radius: 10%;
  padding: 10px;
}

img {
  border-radius: 10%;
}

.playerSelection-text {
  font-weight: bold;
  font-size: 24px;
}

.playerSelectionContainer {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  margin: 50px;
}

h1 {
  text-align: center;
  margin-top: 25px;
}

#resultMessage {
  text-align: center;
  font-size: 24px;
}
